<h2>投稿詳細</h2>
<div>
  <h4>温泉名</h4> <%= @post.facility_name %>
</div>

<div>
  <h4>サービス、雰囲気</h4> <%= @post.service %>
</div>

<div>
  <h4>場所</h4> <%= @post.address %>
</div>

<div>
  <h4>評価</h4>
  <div class="form-group row" id="star"></div>
  <script>
    const star = document.getElementById("star");
    const options = {
      size: 36,
      starOff: '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      score:<%= @post.star %>,
      half: false,
      readOnly: true,
    }
    raty(star, options)
  </script>
</div>

<%= link_to '投稿編集', edit_admin_post_path(@post.id) %> <%= link_to '投稿削除', admin_destroy_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>

<div>
  <h4>コメント一覧</h4>
  <% @comments.each do |comment| %>
  <div>
    <%= comment.comment_content %>
    <%= link_to 'コメント削除', admin_post_destroy_comment_path(comment.post.id,comment.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <div>
  <% end %>
</div>