<h2><%= @user.last_name + @user.first_name %>さんのユーザ詳細</h2>

<div>
  会員ID: <%= @user.id %>
</div>

<div>
  氏名: <%= @user.last_name + @user.first_name %>
</div>

<div>
  生年月日: <%= @user.birth_date %>
</div>

<div>
  メールアドレス: <%= @user.email %>
</div>

<div>
  ニックネーム: <%= @user.nickname %>
</div>

<div>
  プロフィール: <%= @user.profile %>
</div>

<%= link_to 'プロフィール編集', edit_admin_user_path %>